[package]
name = "plonky3_poseidon2_benchmark"
version = "0.0.1"
authors = ["The Tachyon Authors <tachyon-discuss@kroma.network>"]
edition = "2021"
description = """
Plonky3 Poseidon2 Hash Benchmark
"""
license = "MIT OR Apache-2.0"
repository = "https://github.com/kroma-network/tachyon"
readme = "README.md"
categories = ["cryptography"]
keywords = ["tachyon", "benchmark", "plonky3"]
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ff = { version = "0.13", features = ["derive", "derive_bits"] }
p3-bn254-fr = "0.1.3-succinct"
p3-field = "0.1.3-succinct"
p3-poseidon2 = "0.1.3-succinct"
p3-symmetric = "0.1.3-succinct"
zkhash = { git = "https://github.com/HorizenLabs/poseidon2.git", rev = "bb476b9" }
tachyon_rs = { path = "../../../tachyon/rs" }
